@using GridMvc.Html
@model IEnumerable<ServiceCatalog.Models.JobViewModel>

@{
    ViewBag.Title = "Management Logs";
}

<div>
    <div style="display:  flex; justify-content: space-between;">
        <h4>Management Logs</h4>
        <button class="btn btn-primary" style="height: 10%;" onclick="window.location.reload();">Refresh</button>
    </div>
    <hr />
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(m => m.Properties.RunBook.Name)
            .Titled("RunBook Name").Filterable(true);
        columns.Add(m => m.Properties.JobId)
            .Titled("JobId").Filterable(true);
        columns.Add(m => m.Properties.Status)
            .Titled("Status").Filterable(true);
        columns.Add(m => m.Properties.StartTime)
            .Titled("StartTime").Filterable(true)
            .RenderValueAs(s => s.Properties.StartTime?.ToString("MM/dd/yyyy hh:mm"));
        columns.Add(m => m.Properties.EndTime)
            .Titled("EndTime").Filterable(true)
            .RenderValueAs(s => s.Properties.EndTime?.ToString("MM/dd/yyyy hh:mm"));
        columns.Add().Encoded(false).Sanitized(false)
            .Titled("Outputs").Filterable(false)
            .RenderValueAs(col =>
                @<a class="btn btn-primary show-button" data-toggle="modal" data-target="#outputsModal">
                    Show Outputs
                    <p style="display: none;">
                        @col.Outputs
                    </p>
                </a>
            );
    }).WithPaging(10).Sortable(true)
</div>  

@{
    Html.RenderPartial("_Modal");
}

@section scripts
{
    <script>
        if (!window.jQuery) {
            console.error("jQuery is not defined");
        } else {
            (function ($) {
                $('.show-button').click(function (event) {
                    $('#myModal').modal('show');
                    $('#myModalLabel').text('Outputs');
                    $('#outputsModalBody').val($.trim(event.target.children[0].innerText));
                });
                setInterval(function () {
                    window.location.reload();
                }, 35000);
                $.ajaxSetup({ cache: false });
                $("td:contains('Completed')").each(function () {
                    var regex = new RegExp('Completed','gi');
                    $(this).html($(this).text().replace(regex, "<td class='successed-status'>Completed</td>"));
                });
                $("td:contains('Failed')").each(function () {
                    var regex = new RegExp('Failed','gi');
                    $(this).html($(this).text().replace(regex, "<td class='failed-status'>Failed</td>"));
                });
            })(window.jQuery);
        }
    </script>
}
