@{
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>@ViewBag.ErrorMessage</h1>
        <h2>
            @ViewBag.ErrorDetails
        </h2>
    </hgroup>
</body>
</html>
