@model ServiceCatalog.Models.TemplateViewModel

@{
    ViewBag.Title = "Manage";
}

<div>
    @using (Html.BeginForm("Deploy", "Deployment", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <h4>Manage View</h4>
        <hr />
        @Html.ValidationSummary(true)
        Html.RenderPartial("_TemplateView");
    }
    @{
        Html.RenderPartial("_Modal");
    }
</div>
